.vs/testovoe/FileContentIndex/8d80b894-6ee9-48e6-9d48-8e45e98fbc6a.vsidx
.vs/testovoe/FileContentIndex/9d6ded5e-9641-4bc2-94e7-9a13336acc03.vsidx
.vs/testovoe/FileContentIndex/bdadd904-2d44-4acf-b1a9-79712332dbe3.vsidx
testovoe.pyproj
testovoe.sln
.vs/testovoe/FileContentIndex/read.lock
.vs/testovoe/v17/.suo
__pycache__/testovoe.cpython-39.pyc
